#events-page-figure {
}
#event-page-image {
  width: 100%;
  height: auto;
}

#event-root {
  text-align: center;
  display: flex;
  justify-content: center;
  /*  width: 100vw;*/
  /*min-height: 100vh;*/
  overflow: hidden;
}

#event-root > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventCardContainer {
  /*width: 90vw;*/
  /*max-width: 260px;*/
  /*height: 300px;*/

  /*width: 500px;*/
  max-width: 750px;
  max-height: 500px;
}

.eventCard {
  position: relative;
  background-color: #fff;
  /*width: 80vw;*/
  /*max-width: 260px;*/
  /*height: 300px;*/
  width: 750px;
  height: 500px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.eventCard h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.eventCard p {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  color: #fff;
}

/* Set height to 100% for body and html to enable the background image to cover the whole page: */
/*body,*/
/*html {*/
/*height: 100%;*/
/*}*/

.bgimg {
  /* Background image */
  background-image: url("../../public/picture.avif");
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}
